<div class="nav-item" *ngIf="(auth.isAuthenticated$ | async) && myCrv != null">

    <mat-tab-group class="invisible-tabs" [selectedIndex]="selected.value">
        <mat-tab label="Home">
            <div>
                <button mat-fab color="warn" aria-label="refresh" (click)="findMyCrv()">
                    <mat-icon>refresh</mat-icon>
                </button>
                {{myCrv.description}}
            </div>
            <br>
            <div>
                <button mat-raised-button color="primary" [disabled]="myCrv.opened" (click)="openCrv()">Abrir CRV</button>
            </div>
            <br>
            <div>
                <button mat-raised-button color="primary" (click)="navigate(1)">Registrar VOTO</button>
            </div>
            <br>
            <div>
                <button mat-raised-button color="primary">Consultar lista ordinal</button>
            </div>
            <br>
            <div>
                <button mat-raised-button color="primary">Agregar nota</button>
            </div>
            <br>
            <div>
                <button mat-raised-button color="primary" [disabled]="!myCrv.opened" (click)="closeCrv()" >Cerrar CRV</button>
            </div>
        </mat-tab>

        <mat-tab label="Vote">

            <form [formGroup]="voteRegistrationForm" (ngSubmit)="submit(voteRegistrationForm)">

                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Nombre completo</mat-label>
                    <input matInput placeholder="" formControlName="name" #nameInput>
                    <mat-error>Nombre completo es requerido</mat-error>
                </mat-form-field>

                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Número cédula</mat-label>
                    <input matInput placeholder="" formControlName="ci" #ciInput>
                    <mat-error>cédula es requerida</mat-error>

                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Fecha de nacimiento</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="dob">
                    <mat-hint>DD/MM/YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <p>SOLO Fechas entre 6/11/1991 y 5/11/2008 </p>

                <br>

                <div mat-dialog-actions>
                    <button mat-raised-button color="warn" (click)="cancel()">Cancelar</button>
                    <button mat-raised-button color="primary" type="submit">Registrar</button>
                </div>

            </form>

        </mat-tab>


    </mat-tab-group>

</div>
