<div class="nav-item" *ngIf="(auth.isAuthenticated$ | async) && myCrv != null">

    <mat-tab-group class="invisible-tabs" [selectedIndex]="selected.value" (selectedTabChange)="tabClick($event)">

        <mat-spinner disabled="!loading"></mat-spinner>

        <mat-tab label="Home">
            <br>
            <div>
                <button mat-raised-button color="primary" [disabled]="myCrv.opened" (click)="openCrv()">Abrir CRV
                </button>
            </div>
            <br>
            <div>
                <button mat-raised-button color="primary" (click)="navigate(1)">Registrar VOTO</button>
            </div>
            <br>
            <div>
                <button mat-raised-button color="primary" (click)="findVotes()">Consultar lista ordinal</button>
            </div>
            <br>
            <div>
                <button mat-raised-button color="primary" (click)="navigate(3)">Agregar nota</button>
            </div>
            <br>
            <div>
                <button mat-raised-button color="primary" [disabled]="!myCrv.opened" (click)="navigate(4)">Cerrar CRV
                </button>
            </div>
            <div>
                CRV: {{myCrv.description}}
                <button mat-fab color="warn" aria-label="refresh" (click)="findMyCrv()">
                    <mat-icon>refresh</mat-icon>
                </button>
            </div>
        </mat-tab>

        <mat-tab label="Vote">

            <form [formGroup]="voteRegistrationForm">

                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Nombre completo</mat-label>
                    <input matInput placeholder="" formControlName="name">
                    <mat-error>Nombre completo es requerido</mat-error>
                </mat-form-field>

                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Número cédula</mat-label>
                    <input matInput placeholder="" formControlName="ci" (keypress)="numberOnly($event)" type="text"
                           pattern="\d*">
                    <mat-error>cédula es requerida</mat-error>

                </mat-form-field>

                <p>SOLO Fechas entre 6/11/1991 y 5/11/2008</p>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Fecha de nacimiento</mat-label>
                    <input matInput placeholder="ddMMyyyy" formControlName="dob" (keypress)="numberOnly($event)"
                           type="text" pattern="\d*">
                    <mat-error>Fecha de nacimiento es requerida</mat-error>
                </mat-form-field>

                <p>Formato ddMMyyyy, ingrese la fecha todo junto y sin simbolos, por ejemplo para 1ero de diciembre de
                    1999: 01121999</p>


                <!--                <mat-form-field appearance="fill">-->
                <!--                    <mat-label>Fecha de nacimiento</mat-label>-->
                <!--                    <input matInput [matDatepicker]="picker" formControlName="dob">-->
                <!--                    <mat-hint>DD/MM/YYYY</mat-hint>-->
                <!--                    <mat-datepicker-toggle matSuffix [for]="picker" disabled></mat-datepicker-toggle>-->
                <!--                    <mat-datepicker #picker></mat-datepicker>-->
                <!--                </mat-form-field>-->

                <br>
                <div mat-dialog-actions>
                    <button mat-raised-button color="warn" (click)="cancel()" style="float: left;">Cancelar</button>
                    <button mat-raised-button color="primary" (click)="submitVoter()" style="float: right;">Registrar
                    </button>
                </div>
                <div>

                </div>
            </form>

        </mat-tab>

        <mat-tab label="Register Votes">

            <mat-form-field appearance="fill">
                <mat-label>Filtro</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="busqueda" #input>
            </mat-form-field>

            <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

                <!-- voteNumber Column -->
                <ng-container matColumnDef="voteNumber">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
                    <td mat-cell *matCellDef="let row"> {{row.voteNumber}} </td>
                </ng-container>

                <!-- Nombre Column -->
                <ng-container matColumnDef="fullName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
                    <td mat-cell *matCellDef="let row"> {{row.fullName}}</td>
                </ng-container>

                <!-- dob Column -->
                <ng-container matColumnDef="dob">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha Nacimiento</th>
                    <td mat-cell *matCellDef="let row"> {{row.dob}} </td>
                </ng-container>

                <!-- CI Column -->
                <ng-container matColumnDef="ci">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>CI</th>
                    <td mat-cell *matCellDef="let row"> {{row.ci}} </td>
                </ng-container>

                <!-- Registro Column -->
                <!--                <ng-container matColumnDef="timestamp">-->
                <!--                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Registro</th>-->
                <!--                    <td mat-cell *matCellDef="let row"> {{row.timestamp}} </td>-->
                <!--                </ng-container>-->

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                </tr>
            </table>

            <mat-paginator [length]="pageInfo.total"
                           [pageIndex]="pageInfo.pageIndex"
                           [pageSizeOptions]="[1, 10, 25, 50, 100, 500]"
                           [pageSize]="pageInfo.pageSize" showFirstLastButtons>
            </mat-paginator>


            <br>
            <button mat-raised-button color="warn" (click)="goHome()" style="float: left;">Volver</button>
            <mat-chip color="primary" style="float: right;">
                Total CRV: {{pageInfo.total}}
            </mat-chip>

        </mat-tab>

        <mat-tab label="Comment">

            <form [formGroup]="noteForm" (ngSubmit)="submitNote(noteForm)">

                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Agrega una nota a tu CRV</mat-label>
                    <textarea matInput placeholder="..." formControlName="note"></textarea>
                </mat-form-field>

                <br>

                <div mat-dialog-actions>
                    <button mat-raised-button color="warn" (click)="cancel()" style="float: left;">Cancelar</button>
                    <button mat-raised-button color="primary" type="submit" style="float: right;">Registrar</button>
                </div>

            </form>

        </mat-tab>

        <mat-tab label="close">

            <div>
                <p>¿Confirma el cierre de la CRV?</p>
                <p>Tenga presente que no se podrán ingresar más votantes después de realizada esta acción</p>
            </div>

            <form [formGroup]="closeForm">

                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Agrega una nota de cierre</mat-label>
                    <textarea matInput placeholder="Notas de cierre" formControlName="note"></textarea>
                </mat-form-field>

                <br>

                <div>
                    <p>Total de electores registrados en la CRV</p>
                    <p>{{pageInfo.total}}</p>
                    <p>El número debe coincidir con el total de la cuaderneta</p>
                </div>

                <div mat-dialog-actions>
                    <button mat-raised-button color="warn" (click)="cancel()" style="float: left;">Cancelar</button>
                    <button mat-raised-button color="primary" (click)="submitCrvClose()" style="float: right;">
                        Continuar
                    </button>
                </div>

            </form>

        </mat-tab>


    </mat-tab-group>

</div>
