<div>

    <li class="nav-item" *ngIf="(auth.isAuthenticated$ | async) === false">
        <button id="qsLoginBtn" class="btn btn-primary btn-margin" (click)="loginWithRedirect()">
            Log in
        </button>
    </li >

    <p>Elecciones Juveniles Partido Colorado</p>

    <div *ngIf="auth.user$ | async as user">
        <img alt="Profile picture" class="nav-user-profile d-inline-block rounded-circle mr-3" style="width: 75px;" [src]="user.picture"/>

        <button class="btn btn-primary btn-margin" (click)="logout()">
            Log out
        </button>

    </div>

</div>